<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th scope="col" th:fragment="sort_header(header, column)">[[${header}]]
        <a th:href="@{/product(page=${products.number} + 1, size=${products.size},
                        titleFilter=${param.titleFilter}, minCostFilter=${param.minCostFilter},
                        maxCostFilter=${param.maxCostFilter}, sortBy=${column},
                        sortOrder=(${#strings.equals(param.sortBy, column)} and
                            ${#strings.equals(param.sortOrder, 'asc')}) ? 'desc' : 'asc')}">
            <i class="fa" th:classappend="(${#strings.equals(param.sortOrder, 'desc')} and
                ${#strings.equals(param.sortBy, column)}) ? 'fa-sort-up': 'fa-sort-down'"></i></a>
    </th>
</html>